[default]
host_base = {{pithos_service_uri}}
host_bucket = %(bucket)s.{{pithos_service_uri}}
access_key = {{pithos_master_key}}
secret_key = {{pithos_master_secret}}
use_https = False
signature_v2 = True