#
## pithos main configuration
## =========================
#
# This file contains the following sections
#   - service
#   - logging
#   - options
#   - keystore
#   - bucketstore
#   - regions


## service configuration
## ---------------------
#
# indicates
service:
  host: '{{pithos_ip}}'
  port: {{pithos_port}}


## logging configuration
## ---------------------
logging:
  level: info
  console: true
#  files:
#    - "{{pithos_home}}/log"
# overrides:
#   io.exo.pithos: debug


## global options
## --------------
options:
  service-uri: '{{pithos_service_uri}}'
  reporting: true
  server-side-encryption: true
  multipart-upload: true
  masterkey-provisioning: true
  masterkey-access: true
  default-region: '{{pithos_default_region}}'


## keystore configuration
## ----------------------
#
# Keystores associate an access key with
# an organization and secret key.
#
# They may offer provisioning capacities with the
# masterkey. The default provider relies on keys
# being defined inline.
keystore:
  keys:
    {{pithos_master_key}}:
# The master key allows provisinning operations
# when the masterkey-provisioning feature is
# set to true and will allow access to all
# buckets when masterkey-access is set to true
      master: true
      tenant: '{{pithos_master_tenant}}'
      secret: '{{pithos_master_secret}}'
    {{pithos_key}}:
      tenant: '{{pithos_tenant}}'
      secret: '{{pithos_secret}}'


## bucketstore configuration
## -------------------------
#
# The bucketstore is ring global and contains information
# on bucket location and global parameters.
#
# Its primary aim is to hold bucket location and ownership
# information.
#
# The default provider relies on cassandra.
bucketstore:
  default-region: '{{pithos_default_region}}'
  cluster: '{{pithos_ip}}'
  keyspace: 'storage'


## regions
## -------
#
# Regions are composed of a metastore and an arbitrary number
# of named storage classes which depend on a blobstore.
#
# The metastore holds metadata for the full region, as well as
# object storage-class placement information.
#
# The default implementation of both metastore and blobstore
# rely on cassandra.
#
regions:
  {{pithos_default_region}}:
    metastore:
      cluster: '{{pithos_ip}}'
      keyspace: 'storage'
    storage-classes:
      standard:
        cluster: '{{pithos_ip}}'
        keyspace: 'storage'
        max-chunk: '128k'
        max-block-chunks: 1024

