[Unit]
Description=Pithos
After=network.service
Requires=network.service

[Service]
Type=simple
WorkingDirectory={{pithos_home}}
ExecStartPre=-/usr/bin/java -jar {{pithos_jar}} -f /etc/pithos.yml -a install-schema
ExecStart=/usr/bin/java -jar {{pithos_jar}} -f /etc/pithos.yml

[Install]
WantedBy=multi-user.target